body{
  font-family: 'Open Sans', sans-serif;
}

header{
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 20rem;
  height: 700px;
}

header div {
  padding-top: 460px;
}

.h1_titulo{
  font-family: 'Oswald', sans-serif;
}
